@import url('https://fonts.googleapis.com/css?family=Blinker|Montserrat|Share+Tech+Mono&display=swap');

/*
	--- colour palette ---
	basic : #005377
	dark : #052F5F
	light : #49BFA0
	constrast : F1A208
	
	--- font families ---
	'Montserrat' : previewer text
	'Blinker' : buttons, titles, links...
	'Share Tech Mono' : display code, editor text
*/

* {
	margin : 0px;
	padding : 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	background-color : #052F5F;
	display : flex;
	flex-direction : column;
}

header {
	align-self:center;
	background-color : none;
	height : 7.5vh;
	width : 100vw;
}

main {
	background-color : #005377;
	width : 100vw;
	height  : 86.5vh;
	display : flex;
	flex-direction : row;
}

footer {
	font-family : 'Blinker', sans-serif;
	display : flex;
	justify-content : center;
	align-items : center;
	background-color : none;
	width : 100vw;
	height : 6vh;
}

footer a {
	font-size : 14px;
	color : #FFFFFF;
	text-decoration : none;
	transition-duration : 0.4s;
	-webkit-transition-duration : 0.4s;
	-moz-transition-duration : 0.4s;
	-o-transition-duration : 0.4s;
}

@media only screen and (min-width : 768px) {
	footer a {
		font-size : 16px;
	}
}

footer a:hover {
	color : #F1A208;
	transition-duration : 0.4s;
	-webkit-transition-duration : 0.4s;
	-moz-transition-duration : 0.4s;
	-o-transition-duration : 0.4s;
}	

.Panel {
	width : 100vw;
	height : 100%;
	color : white;
	justify-content : center;
	align-items : center;
}

.Panel textarea {
	width : 95%;
	height : 95%;
	resize : none;
	-moz-resize : none;
	font-family : 'Share Tech Mono', monospace;
	font-size : 14px;
	padding : 4px;
}

.previewer-textarea {
	color : #000000;
	background-color : #FFFFFF;
	width : 95%;
	height : 95%;
	padding : 4px;
	overflow-y : scroll;
	font-family : 'Montserrat', sans-serif;
}

.Editor {
	display : flex;
}

.Previewer {
	display : none;
}

@media only screen and (min-width : 768px) {
	.Previewer {
		display : flex !important;
	}
	
	.Editor {
		display : flex !important;
	}
	
	.Panel textarea {
		width : 48.5vw;
		overflow : scroll;
		font-size : 15px;
	}
	
	.previewer-textarea {
		overflow : scroll;
		width : 48.5vw;
	}
	
}

.TabLinks {
	display : flex;
	flex-direction : row;
	justify-content : flex-start;
	align-items : flex-end;
	width : 100vw;
	height : 100%;
}

@media only screen and (min-width : 768px) {
	.TabLinks {
		justify-content : space-between;
	}
}

.option-tab {
	display : block;
	background-color : #005377;
	color : #FFFFFF;
	height : 7.5vh;
	min-width : 100px;
	text-decoration : none;
	border : none;
	padding : 0px 5px;
	font-size : 16px;
	cursor : pointer;
	opacity : 0.5;
	border-top-right-radius : 10px;
	outline : none;
	font-family : 'Blinker', sans-serif;
	
	transition-duration : 0.4s;
	-webkit-transition-duration : 0.4s;
	-moz-transition-duration : 0.4s;
	-o-transition-duration : 0.4s;
}

.option-tab:hover {
	color : #F1A208;
}

.option-tab-previewer {
	border-top-left-radius : 10px;
}

.option-tab-editor {
	opacity : 1;
}

.option-tab:hover {
	transition-duration : 0.4s;
	-webkit-transition-duration : 0.4s;
	-moz-transition-duration : 0.4s;
	-o-transition-duration : 0.4s;
}

.info-option {
	margin : 0px 5px;
	background-color : transparent;
	font-size : 1.4em;
	border-radius : 50%;
	width : 25px;
	min-width : 25px;
	height : 30px;
	margin-left : auto;
	align-self : center;
	opacity : 1;
	text-decoration : none;
	display : flex;
	justify-content : center;
	align-items : center;
}

@media only screen and (min-width : 768px) {
	.option-tab {
		font-size : 19px;
	}
	
	.option-tab-previewer {
		opacity : 1 !important;
		pointer-events : none;
		margin-left : 30px;
	}
	
	.option-tab-editor {
		opacity : 1 !important;
		pointer-events : none;
		word-break : none;
	}
	
	.info-option {
		margin-left : 0px;
	}
}

/*Markedown Style*/
.previewer-textarea code {
	background-color : #005377;
	color : #FFFFFF;
	display : inline-block;
	margin : 2px;
	padding : 2px;
	opacity : .8;
	font-family : 'Share Tech Mono', monospace;
	font-size : 15px;
}

.previewer-textarea h1 {
	color : #052F5F;
	margin-bottom : 8px;
}

.previewer-textarea h2 {
	color : #005377;
	margin-bottom : 2px;
	margin : 0px 4px;
}

.previewer-textarea h3,h4,h5,h6 {
	margin : 0px 8px;
}

.previewer-textarea p {
	margin : 8px;
}

.previewer-textarea pre {
	margin : 0px 8px;
}

.previewer-textarea blockquote {
	display : inline-block;
	background-color : #DFEEF5;
	border-left : 1px solid #000000;
	margin : 0px 10px;
}

.previewer-textarea table {
	margin : 5px 10px;
	background-color : #DFEEF5;
	padding : 4px;
	border-radius : 4px;
}

.previewer-textarea tbody,thead tr {
	font-size : 15px;
	text-align : center;
}

.previewer-textarea thead tr {
	color : #052F5F;
}

.previewer-textarea tbody tr:nth-child(odd) {
	background-color : #FFFFFF;
}

.previewer-textarea tbody tr:nth-child(even) {
	background-color : #F4F4F4;
}

.previewer-textarea td {
	padding : 2px 4px;
	border-radius : 2px;
}

.previewer-textarea ul,ol {
	margin : 0px 20px;
}

.previewer-textarea img {
	max-height : 90%;
	max-width : 90%;
}
