* {
	margin : 0px;
	padding : 0px;
	font-family : arial, helvetica;
}

.App {
	display : flex;
	flex-direction : column;
	justify-content : center;
}

main {
	background-color : gray;
	width : 100vw;
	min-height  : 90vh;
	display : flex;
	flex-direction : row;
}

footer {
	background-color : #000000;
	color : #FFFFFF;
	width : 100vw;
	min-height : 10vh;
}

.Editor {
	color : white;
}

.Previewer {
	color : white;
}