/*
	colour palette
	basic : #005377
	dark : #052F5F
	light : #49BFA0
	constrast : F1A208
*/

* {
	margin : 0px;
	padding : 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	background-color : #052F5F;
	display : flex;
	flex-direction : column;
	justify-content : center;
}

header {
	align-self:center;
	background-color : none;
	min-height : 7.5vh;
	width : 100vw;
}

main {
	background-color : #005377;
	width : 100vw;
	min-height  : 85vh;
	display : flex;
	flex-direction : row;
}

footer {
	display : flex;
	justify-content : center;
	align-items : center;
	background-color : none;
	width : 100vw;
	min-height : 7.5vh;
}

footer a {
	color : #FFFFFF;
	text-decoration : none;
}

.Panel {
	width : 100%;
	height : 85vh;
	color : white;
	justify-content : center;
	align-items : center;
}

.Panel textarea {
	width : 95%;
	height : 95%;
}

.Editor {
	display : flex;
}

.Previewer {
	display : none;
}

.previewer-textarea {
	width : 95%;
	height : 95%;
}

.TabLinks {
	display : flex;
	flex-direction : row;
	justify-content : flex-start;
	width : 100vw;
}

.option-tab {
	display : block;
	background-color : #005377;
	color : #FFFFFF;
	height : 7.5vh;
	min-width : 100px;
	text-decoration : none;
	border : none;
	padding : 0px 5px;
	font-size : 16px;
	transition-duration : 0.4s;
	cursor : pointer;
	opacity : 0.5;
	border-top-right-radius : 10px;
	outline : none;
}

.option-tab-previewer {
	border-top-left-radius : 10px;
}

.option-tab-editor {
	opacity : 1;
}

.option-tab:hover {
	transition-duration : 0.4s;
}

.info-option {
	margin : 0px 5px;
	background-color : transparent;
	font-size : 1.4em;
	border-radius : 50%;
	min-width : 30px;
	width : 30px;
	height : 30px;
	margin-left : auto;
	align-self : center;
	opacity : 1;
}


